<!-- Sidebar -->
<aside class="sidebar">

  <link rel="stylesheet" href="/styles/sidebar.css">
  <ul>
    <li><a href="/inicio">Inicio</a></li>
    <li><a href="/stock">Stock</a></li>
    <li><a href="/proveedores">Proveedores</a></li>
    <li><a href="/inventario">Inventario</a></li>
    <li><a href="/informes">Informes</a></li>
  </ul>
  </aside>
  