<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digiworld</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include('partials/navbar') %> 
  <h1>Digiworld</h1>
  <div class="button-container">
    <a href="/login"><button>Iniciar Sesión</button></a>
    <a href="/register"><button>Registrarse</button></a>
  </div>
    <%- include('partials/footer') %>
</body>
</html>
